*{
    margin: 0;
    padding: 0;
}

.subheading{
  text-align: center;
  color: white;
  font-size: 40px !important;
  font-weight: bold !important;
}

.slider-frame{
    background-color: 'transparent';
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    .btn{
        width: 40px;
        height: 100%;
        background: rgba(0,0,0,0.3);
        position: absolute;
        top: 0;
        z-index: 1000;
        &.prev{
            left: 0px;
        }
        &.next{
            right: 0px;
        }
    }
    .slider-container{
        transition: margin-left .2s ease, left .5s ease;
        position: absolute;
        left: 0;
        .slide{
            background-color: transparent;
            float: left;
            position: relative;
            top: 0;
            transition: width .2s ease, height .2s ease, top .2s ease;
            &:nth-child(even){
                background-color: transparent;
            }
        }
    }
}


.actionBtn {
  transition: 0.5s;
  display: none;
  -webkit-transition: 0.5s;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

.actionBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.getinBtn {
  background-color: #4CAF50; /* Green */
  float: right;
  width: 80%;
}

.infoBtn {
  background-color: grey;
  font-weight: bold;
  width: 19%;
}
